@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .text-light-dark {
        @apply text-gray-900 dark:text-zinc-100;
    }

    /* Optional: for heading styles */
    .heading-light-dark {
    @apply text-2xl font-semibold text-white dark:text-gray-900;
    }

    .bg-light-dark {
    @apply bg-white dark:bg-gray-900;
    }
}

/* to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
